body {
  background: var(--linearColor);
  color: var(--textColor);
  transition: background 0.3s ease, color 0.3s ease;
}

:root {
  --bgColor: rgb(231, 106, 23);
  --textColor: #F7F1E7;
  --secondColor: #C8C0B7;
  --linearColor: linear-gradient(135deg, #C83D0A 0%, #E9540B 35%, #F47716 65%, #FF9A32 100%);
  --accentColor: pink;
  --primaryColor: #3a435d;;
  --baseColor: #e8e9ed;
}

.darkmode { 
  --bgColor: #070b1d;
  --textColor: #ffffff;
  --secondColor: #a4a5b8;
  --linearColor: linear-gradient(135deg, #070b1d 0%, #101425 50%, #3a435d 100%);
  --accentColor: #0071ff;
  --primaryColor:#3a435d;
  --baseColor:#101425;
}

nav {
  background-color: var(--accentColor);
  display: flex;
} 

nav ul li a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  cursor: pointer ;
  
}

nav ul li {
  display: flex;
}

#theme-switch{
  height: 50px;
  width:50px;
  padding:0px;
  border-radius:50%;
  background-color: var(--baseColor);
  display:flex;
  justify-content:center;
  align-items:center;
  position:fixed;
  top:  20px;
  right: 20px;
}

#theme-switch{
  fill: var(--primaryColor);
}

#theme-switch img:last-child{
  display: none;
}

.darkmode #theme-switch img:first-child {
  display: none;
}

.darkmode #theme-switch img:last-child {
  display: block;
}

