body {
  background: (--linearColor);
};

:root {
  --bgColor:rgb(231, 106, 23);
  --textColor:	#F7F1E7;
  --secondColor: #C8C0B7; 
  --linearColor: linear-gradient(135deg, #C83D0A 0%, #E9540B 35%, #F47716 65%, #FF9A32 100%);
  --accentColor:pink;
}

nav {
  background-color: var(--accentColor);
  display: flex;
}

nav ul li a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  cursor: pointer ;
  
}

nav ul li {
  display: flex;
}



